<h4><%= @user.first_name %> <%= @user.last_name %></h4>

<%= image_tag(@user.photo_url) %><br>

Username: <%= @user.username %><br>
Age: <%= @user.age %><br>
Location: <%= @user.city %>, <%= @user.state_abr %><br>

  <% if session[:current_user] == @user.id %>
    <%= link_to 'Edit User', edit_user_path(@user) %><br>
    <%= link_to 'Delete Account', user_path(@user), method: :delete %></p>
  <% end %>


<h4><%= @user.first_name %>'s Collections: </h4>
<% @user.collections.each do |collection| %>
  <%= link_to collection.name, collection_path(collection) %><br>
<% end %>
